$moduleWidth-sm: 1180px;
$moduleWidth-md: 1400px;

.g-content-w {
  width: $moduleWidth-sm;
  margin: 0 auto;
}

@mixin md-screen {
  @media screen and (min-width: 1401px) {
    @content;
  }
}

@include md-screen {
  .g-content-w {
    width: 1400px;
  }
}

.g-module {
  color: #333;
  padding: 0 20px;
  text-align: center;

  .module-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
  }

  .module-desc {
    margin-top: 20px;
    color: #666;
  }
}
